* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDF5E6 ;
    font-family: sans-serif;
    color: #3b3b3b;
}

#navbar {
    background: #E67E22;
}

#container {
    background-color: #faf2e1;
    max-width: 1000px;      
    margin: 40px auto;        
    padding: 40px;
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 20px 0;
}

.logo {
    width: 152px;
    height: 66px;
}

.image-letter {
    width: 100px; 
    height: auto;  
    display: block;
}

#dados-bi{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    line-height: 1.6;
}

h2 {
    padding: 50px 0px 60px 0px;
}

.image-bi {
    width: 500px;
    height: 250px;
}

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: transform 0.3s ease;
}

.btn-whatsapp img {
    width: 50px;
}

.btn-whatsapp:hover {
    transform: scale(1.1);
}

.benefits-list {
    padding-top: 20px;
    list-style-type: none;
    line-height: 1.6;
}

.descricao {
    padding-top: 50px;
    line-height: 1.6;
}

